Flask
Flask-Cors
Flask-Mail
fuzzywuzzy
google-ads
google-api-core
google-auth
google-auth-oauthlib
google_search_results
googleapis-common-protos
Levenshtein
numpy
oauthlib
pandas
pgeocode
python-Levenshtein
pytz
PyYAML
requests
requests-oauthlib
Werkzeug
